rsconnect/

# History files
.Rhistory
.Rapp.history

# Session Data files
.RData

# produced vignettes
vignettes/*.html
vignettes/*.pdf

# DS_Store
**/.DS_Store
slides/.DS_Store

# Jekyll
_site/
*-cache/
.jekyll-metadata

# Ruby
.bundle/
.byebug_history
.ruby-gemset
.ruby-version
*.gem
Gemfile.lock

# Files
.analysis
*.swp
*~

